
html {
  background-image: url("https://www.pixeden.com/media/k2/galleries/220/006-wood-melamine-subttle-pattern-background-pat.jpg");
  font-size: 16px;



}


/*navigation bar edit*/

.navpos {
  position:fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color:rgba(255,255,255,.6)

}

#navbar ul {
  list-style: none;
  font-family: 'Archivo Black', sans-serif;
  padding-left: 6.25em;
  padding-top: .8em;


}
#navbar li {
  float: left;
  margin-left: 6.25em;
  margin-top: 1.2em;
  margin-bottom:1.2em;
  padding-left:
  font-size: 1.2em;
  

}
#navbar li a {
  text-decoration: none;
  color: black;
}
/*first image table css/settings*/
/*.imagespacing {
  padding-top: 3em;
  padding-bottom:3em;
  margin-bottom: 3em;
  border: 1px solid white;
  width:100%;*/


}
#ImageTable {

  border:1px dotted red;
  height: 80px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 35px;
  display: inline-block;


}


img {

  border-radius: 10px;
  border: 3px solid white;

}

td img {
  height: 5em;
  width: 6.25em;


}
 td {
  display: inline-table;
  margin-left: 150px;



}
/*paragraph setting in div*/
h1 {
  text-align: center;
  padding-top: 40px;
}
#summary {
  text-align:  left;
  padding-left: 40px;
  padding-right: 40px;
  margin: 40px 40px;
}

/* work experiance */
h2 {
  text-align: center;
  margin-top: 10px;
  padding-top: 20px;
}
#workpara p {
  padding-left: 50px;
  padding-right: 60px;
}
#workpara p ul {
  list-style: none;
}

.bullets li {
  list-style: none;
  font-size: 18px;
  font-weight: bold;
}
#subwork ul li {
  list-style: none;
  font-weight:bold;
}

/*schooling stuff format*/
h3 {
  text-align: center;
  padding-top: 20px;
}
/*hobbies table*/
#hobbiestable {

  margin-left: 40px;
  margin-top: 60px;
}
#hobbierow td {

  height: 60px;
  width: 50px;
}
#hobbierow tr td img {
  height: 400px;
  width: 300px;
}
/*schooling stuff*/
#school ul li {
  list-style: none;
}


/*footer stuf*/
h4 {
  text-align: center;
  padding-top: 20px;
}

#footer li {
  float: left;
  padding-left: 50px;
  list-style: none;
}

/*fonts for header/paragraphs*/
p {
  font-family:'Dosis', sans-serif;
}
.header {
  font-family:'Archivo Black', sans-serif;
  font-size: 1em;
}

/* hovering effect/ animations*/

a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
